/* *{
    margin:0;
    padding:0; 
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:#F1F1F0;
}


.navbar {

    border-bottom: 2px solid #6669C6; 
    background-color:#F1F1F0;   
}

.logo{
    width: 250px;
    height:auto;
    margin-left: 100px;
}

.initialLogin{
    padding: 7vh 4vw;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

h1{
    font-weight: lighter;
    margin-bottom: 50px;
}

#email{
    background-color: #D7D7D7;
}

label[for="password"]::before {
    margin-left: 60px;
    content: "";
}

#password{
    background-color: #D7D7D7;
}

a::before{
    content:"";
    display: block;
    margin-top: 50px;
}

#loginButton{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 5px;
    padding: 5px;
    background-color: #D7D7D7;
    color: #6669C6;
    font-weight: bolder;
    width: fit-content;
}

.bottomImage{
    width: 150px;
    height: auto;
    float:right
} */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-color: #F1F1F0; /* Color de fondo sin animación */
}

.navbar {
    /* border-bottom: 2px solid #6669C6; */
    background-color: #F1F1F0;
}

.logo {

    width: 300px;
    height:auto;
    display: block;
    margin: 0 auto;
    animation: slideIn 1s ease-out forwards;
    background-color: #F1F1F0; /* Color de fondo específico para el logo */
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.initialLogin {
    /* background-color: rgba(255, 255, 255, 0.8); */
    /* background-color: #e2e3ff; */
    /* background-color: #fef1cd ; */
    border:#6669C6 1px solid;
    /* border: #ffd76a 1px solid ; */
    border-radius: 10px;
    padding: 40px;
    margin: 40px auto;
    width: 80%;
    max-width: 450px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

h1 {
    font-weight: lighter;
    margin-bottom: 30px;
}

input[type="text"], input[type="password"], input[type="file"] {
    border: 2px solid #6669C6; 
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    width: calc(100% - 24px);
    background-color: #f7f0f0;
    font-family: 'Poppins', sans-serif;
}

label {
    display: block;
    margin-bottom: 20px; 
}


label[for="password"], label[for="email"] {
    display: block;
    margin-bottom: 2px;
    margin-top: 20px;
}


a::before {
    content: "";
    display: block;
    margin-top: 30px;
}

#loginButton {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 5px;
    padding: 5px;
    background-color: #D7D7D7;
    /* color: #6669C6; */
    /* font-weight: bolder; */
    width: fit-content;
    transition: background-color 0.3s, transform 0.3s;
}

#loginButton:hover {
    background-color: #6669C6;
    color: #F1F1F0;
    transform: translateY(-3px);
}


/* ------------PLAN CRAFT-------------------------------- */


.newPlan{
    padding: 7vh 4vw;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    margin-top: 200px;
}

#planName, #planDescription{
    background-color: #D7D7D7;
}

label[for="planDescription"]::before {
    margin-left: 60px;
    content: "";
}

#newPlanButton{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 5px;
    padding: 5px;
    background-color: #D7D7D7;
    color: #6669C6;
    font-weight: bolder;
    width: fit-content;
}


/* --------------------PLANES--------------------- */

.plansInfo{
    padding: 7vh 4vw;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    margin-top: 200px;
}


/* -----------------REGISTRO-------------- */

.h1Register {
    margin-left: 50px;
    margin-top: 100px;
    font-weight: lighter;
}
.registerHTML{
    padding: 7vh 4vw;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

#email, #password, #name, #surname{
    margin-top: 30px;
    /* background-color: #D7D7D7; */
}

#registerButton{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 5px;
    padding: 5px;
    background-color: #D7D7D7;
    color: #6669C6;
    font-weight: bolder;
    width: fit-content;
}